# [mpi-tree-report]
CALI_SERVICES_ENABLE=aggregate,event,mpi,mpireport,timestamp
CALI_EVENT_TRIGGER=annotation,function,loop,mpi.function
CALI_TIMER_SNAPSHOT_DURATION=true
CALI_TIMER_INCLUSIVE_DURATION=false
CALI_AGGREGATE_KEY=annotation,function,loop,mpi.function
CALI_MPI_WHITELIST=MPI_Allreduce,MPI_Barrier,MPI_Wait,MPI_Waitall
CALI_MPIREPORT_CONFIG="SELECT statistics(sum#time.duration) FORMAT tree"

# [mpiP]
CALI_SERVICES_ENABLE=aggregate,event,mpi,mpireport,timestamp
CALI_EVENT_TRIGGER=mpi.function
CALI_TIMER_SNAPSHOT_DURATION=true
CALI_TIMER_INCLUSIVE_DURATION=false
CALI_AGGREGATE_KEY=mpi.function
CALI_MPI_BLACKLIST=MPI_Comm_rank,MPI_Comm_size,MPI_Initialized,MPI_Finalized,MPI_Wtime
CALI_MPIREPORT_CONFIG="SELECT mpi.function,count(),statistics(sum#time.duration),percent_total(sum#time.duration) FORMAT table ORDER BY percent_total#sum#time.duration DESC"

# [callpath-sample-report]
CALI_SERVICES_ENABLE=aggregate:callpath:pthread:report:sampler:symbollookup
CALI_CALLPATH_SKIP_FRAMES=4
CALI_SAMPLER_FREQUENCY=50
CALI_AGGREGATE_KEY=callpath.address
CALI_REPORT_CONFIG="SELECT count() GROUP BY source.function#callpath.address FORMAT tree(source.function#callpath.address)"

# [mpi-msg-trace]
CALI_SERVICES_ENABLE=event,mpi,recorder,timestamp,trace
CALI_EVENT_TRIGGER=function,mpi.function
CALI_TIMER_SNAPSHOT_DURATION=false
CALI_TIMER_INCLUSIVE_DURATION=false
CALI_TIMER_OFFSET=true
CALI_MPI_MSG_TRACING=true
CALI_MPI_WHITELIST=MPI_Isend,MPI_Irecv,MPI_Wait,MPI_Waitall,MPI_Allreduce,MPI_Barrier
CALI_RECORDER_FILENAME=msgtrace-%mpi.rank%.cali

# [memsampling]
CALI_LIBPFM_EVENTS=MEM_TRANS_RETIRED:LATENCY_ABOVE_THRESHOLD
CALI_LIBPFM_SAMPLE_PERIOD=10000
CALI_LIBPFM_PRECISE_IP=2
CALI_LIBPFM_CONFIG1=20
CALI_LIBPFM_SAMPLE_ATTRIBUTES=ip,time,tid,cpu,addr,weight,data_src

CALI_ALLOC_TRACK_RANGES=true
CALI_ALLOC_RECORD_ACTIVE_MEM=false

CALI_SERVICES_ENABLE=alloc,libpfm,pthread,recorder,trace,symbollookup
