# [mpiP]
CALI_SERVICES_ENABLE=aggregate,event,mpi,mpireport,timestamp
CALI_EVENT_TRIGGER=mpi.function
CALI_EVENT_ENABLE_SNAPSHOT_INFO=false
CALI_TIMER_SNAPSHOT_DURATION=true
CALI_TIMER_INCLUSIVE_DURATION=false
CALI_AGGREGATE_KEY=mpi.function
CALI_MPI_BLACKLIST=MPI_Comm_rank,MPI_Comm_size,MPI_Initialized,MPI_Finalized,MPI_Wtime
CALI_MPIREPORT_CONFIG="SELECT mpi.function as Function,count(),min(sum#time.duration) as \"min time/rank\",max(sum#time.duration) as \"max time/rank\",avg(sum#time.duration) as \"avg time/rank\",percent_total(sum#time.duration) as \"total time %\" FORMAT table ORDER BY percent_total#sum#time.duration DESC"
                              
# [loop-profile]
CALI_SERVICES_ENABLE=aggregate,event,mpi,mpireport,timestamp
CALI_AGGREGATE_KEY="iteration#lulesh.cycle"
CALI_EVENT_TRIGGER="iteration#lulesh.cycle"
CALI_EVENT_ENABLE_SNAPSHOT_INFO=false
CALI_TIMER_SNAPSHOT_DURATION=true
CALI_MPIREPORT_CONFIG="select iteration#lulesh.cycle as cycle,avg(sum#time.duration) as \"avg time\",max(sum#time.duration) as \"max time\",percent_total(sum#time.duration) as \"time %\" group by iteration#lulesh.cycle format table order by iteration#lulesh.cycle"

# [region-profile]
CALI_SERVICES_ENABLE=aggregate,event,mpi,mpireport,timestamp
CALI_EVENT_TRIGGER="lulesh.region"
CALI_EVENT_ENABLE_SNAPSHOT_INFO=false
CALI_TIMER_SNAPSHOT_DURATION=true
CALI_MPIREPORT_CONFIG="select lulesh.region as Region,sum(sum#time.duration) as Time,percent_total(sum#time.duration) as \"Time %\" where lulesh.region group by lulesh.region format table order by lulesh.region"

# [json-region-profile]
CALI_SERVICES_ENABLE=aggregate,event,mpi,mpireport,timestamp
CALI_AGGREGATE_KEY="lulesh.region,function,mpi.rank"
CALI_EVENT_TRIGGER="lulesh.region"
CALI_EVENT_ENABLE_SNAPSHOT_INFO=false
CALI_TIMER_SNAPSHOT_DURATION=true
CALI_MPIREPORT_CONFIG="select function,lulesh.region as Region,sum(sum#time.duration) where lulesh.region group by function,lulesh.region format json(pretty,globals)"
CALI_MPIREPORT_FILENAME="region-profile_r%Number of regions%_b%Region balance%_c%Region cost%_%Start time%.json"

# [mpi-comm-size]
CALI_SERVICES_ENABLE=aggregate,event,mpi,mpireport
CALI_AGGREGATE_ATTRIBUTES=mpi.msg.size
CALI_MPI_MSG_TRACING=true
CALI_MPI_WHITELIST=MPI_Isend,MPI_Irecv,MPI_Wait,MPI_Waitall,MPI_Allreduce
CALI_MPIREPORT_CONFIG="select count(),max(max#mpi.msg.size),sum(sum#mpi.msg.size) where sum#mpi.msg.size group by prop:nested format tree"

# [event-trace]
CALI_SERVICES_ENABLE=event,trace,timestamp,mpi,recorder
CALI_TIMER_SNAPSHOT_DURATION=true
CALI_MPI_BLACKLIST=MPI_Comm_rank,MPI_Comm_size,MPI_Wtime
CALI_RECORDER_FILENAME="trace%mpi.rank%.cali"

# [callpath-sample-report]
CALI_SERVICES_ENABLE=aggregate:callpath:pthread:report:sampler:symbollookup
CALI_CALLPATH_SKIP_FRAMES=4
CALI_SAMPLER_FREQUENCY=100
CALI_AGGREGATE_KEY=callpath.address
CALI_REPORT_CONFIG="SELECT count() GROUP BY source.function#callpath.address FORMAT tree(source.function#callpath.address)"

# [mpi-msg-trace]
CALI_SERVICES_ENABLE=event,mpi,recorder,timestamp,trace
CALI_EVENT_TRIGGER=function,mpi.function
CALI_TIMER_SNAPSHOT_DURATION=false
CALI_TIMER_INCLUSIVE_DURATION=false
CALI_TIMER_OFFSET=true
CALI_MPI_MSG_TRACING=true
CALI_MPI_WHITELIST=MPI_Isend,MPI_Irecv,MPI_Wait,MPI_Waitall,MPI_Allreduce,MPI_Barrier
CALI_RECORDER_FILENAME=msgtrace-%mpi.rank%.cali

# [flop-report]
CALI_SERVICES_ENABLE=sampler,pthread,papi,timestamp,report,trace
CALI_PAPI_COUNTERS=PAPI_DP_OPS
CALI_TIMER_UNIT=sec
CALI_TIMER_SNAPSHOT_DURATION=true
CALI_TIMER_INCLUSIVE_DURATION=false
CALI_SAMPLER_FREQUENCY=200
CALI_REPORT_CONFIG="select ratio(papi.PAPI_DP_OPS,time.duration,1e-6) as MFlop/s,sum(time.duration) as Time group by prop:nested format tree"

# [memsampling]
CALI_LIBPFM_EVENTS=MEM_TRANS_RETIRED:LATENCY_ABOVE_THRESHOLD
CALI_LIBPFM_SAMPLE_PERIOD=1000
CALI_LIBPFM_PRECISE_IP=2
CALI_LIBPFM_CONFIG1=20
CALI_LIBPFM_SAMPLE_ATTRIBUTES=ip,time,tid,cpu,addr,weight,data_src
CALI_ALLOC_TRACK_RANGES=true
CALI_ALLOC_RECORD_ACTIVE_MEM=false
CALI_ALLOC_RESOLVE_ADDRESSES=true
CALI_SERVICES_ENABLE=alloc,libpfm,mpi,pthread,recorder,trace,symbollookup
CALI_MPI_BLACKLIST=MPI_Comm_rank,MPI_Comm_size,MPI_Wtime